@model ZKTeco.Dtos.Category.FullCategoryDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mx-md-4 mx-2">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="p-2"><i class="icon-drop"></i> Delete Category</div>
                    <div class="p-2"></div>
                    <div><a asp-controller="categories" asp-action="Index">Back to List</a></div>
                </div>
            </div>
            <div class="card-body">

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Category</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoryNameArabic)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoryNameArabic)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoryNameEnglish)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoryNameEnglish)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ParentCategory)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ParentCategory.CategoryNameEnglish)
                        </dd>
                    </dl>

                    <form asp-controller="categories" asp-action="DeletePost" method="post">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-controller="categories" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{

    ViewData["Direction"] =
        @"<li class='breadcrumb-item'>
<a href='/Categories'>Categories</a>
</li>
<li class='breadcrumb-item'>
Delete Category
</li>
";
}
